@charset "utf-8";
/*
 * Author:Joshua Balsillie
 * Date Created:2019-04-16
 * Description:define filter widget styles
 */
.filter {
	& > .images {
		// the images container
		background-color: transparent;
		padding: 0;
		margin: 0;
		position: relative; // required if using position: absolute on filter buttons in first-child

		& > * {
			background-color: transparent;
			padding: 0;
			margin: 0;
			display: inline-block;
		}
		& > div > img {
			/* Optional image styles */
			border-style: none;
			position: absolute;
			top: auto; // default position from top
			left: auto; // default position from left
			right: auto; // default position from right
			bottom: auto; // default position from bottom
			cursor: pointer;
		}
	}
	& > .items {
		// the items container
		& > * > a {
			// an item
			color: rgba(41,49,54,1);
			background-color: rgba(255,255,255,1);
			border-radius: 1rem;
			display: block;
			padding-bottom: 1rem;

			&:hover, :focus, :active, .selected {
				color: rgba(255,255,255,1);
				background-color: rgba(41,49,54,1);
			}
			& > img:first-child {
				// the main image
				border-top-right-radius: 1rem;
				border-top-left-radius: 1rem;
			}
		}
	}
}