@charset "utf-8";
/*
 * Author:Joshua Balsillie
 * Date Created:2019-04-16
 * Description:define filter widget styles
 */

.filter > :first-child {
	background-color: transparent;
	padding-top: 0.5rem;
	padding-right: 0;
	padding-bottom: 0.5rem;
	padding-left: 0;
}
.filter > :first-child > * {
	background-color: transparent;
	padding: 0.5rem;
	margin: 0.2rem;
	display: inline-block;
}
.filter > :first-child > div > img {
	/* Optional image styles */
	border-style: none;
	position: relative;
	top: 0;
	left: 0;
}