@charset "utf-8";
/*
Author: Joshua Balsillie
Date Created: 2016-05-24
Description: define scrollbar formatting
*/

::-webkit-scrollbar {
	// The entire scrollbar
    -webkit-appearance: none;
	width: 1rem;
	
	&-thumb {
		// The track button
		background-color: red;
		border-color: transparent;

		border-radius: 0.4rem;
		border-width: 0.15rem;
		border-style: solid;
		background-clip: content-box;
	}
	&-track {
		// The full track area that contains the track button
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

		border-radius: 0.4rem;
		border-width: 0.15rem;
		border-style: solid;
		background-clip: content-box;
	}
	&-track-piece {
		// The part of the track that does not have the track button
	}
	&-button {
		// The up and down buttons sometimes present in scrollbars
		display: none;
	}
	&-corner {
		// The corner of the scrollable area for vertical and horizontal scrolling
		display: none;
	}
}