/*
 * Author:Joshua Balsillie
 * Date Created:2016-09-07
 * Description:variables and variable overrides
 */

// Global Variables


// Copied Variables
// Remove all instances of !default after you copy variables to this file

// _modal.scss
$modal_colourDisabled: rgba(0,0,0,0.5); // 000000
$modal_colourForeground: rgba(50,62,66,1); // 323E42
$modal_colourBackground: rgba(255,255,255,1); // FFFFFF
$modal_colourActionDark: rgba(0,62,71,1); // 003E47
$modal_colourActionLight: rgba(0,220,255,1); // 00DDFF
$modal_paddingAroundItems: 1rem;
$modal_border-style: solid;
$modal_border-width: 1.5rem;
$modal_iconSize: 2rem;