@charset "UTF-8";
/*
 * Author: Joshua Balsillie
 * Date Created: 2016-08-17
 * Description: Import widget styles
 * 
 * References
 * Define ID: #id {
 * Define class: .class {
 * Define all: * {
 * Define child: > {
 * Define import css: @import "folder/_file.scss";
 * Setup and use: http://sass-lang.com/guide
 *
 * Important
 * Order files for inheritance
 */
/* Functions and Mixins */
/*
 * Author: Joshua Balsillie
 * Description: define mixins for sass/scss files
 */
/* Variables */
/*
 * Author:Joshua Balsillie
 * Date Created:2016-09-07
 * Description:variables and variable overrides
 */
/* Styles */
/*
 * Author:Joshua Balsillie
 * Date Created:2016-08-20
 * Description:define column styles
 */
.oneColumn, .twoColumn, .threeColumn, .fourColumn {
  display: block;
  padding-bottom: 1rem;
  vertical-align: top;
  font-size: 0;
}
.oneColumn > *, .twoColumn > *, .threeColumn > *, .fourColumn > * {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.oneColumn > *.alignLeft, .twoColumn > *.alignLeft, .threeColumn > *.alignLeft, .fourColumn > *.alignLeft {
  text-align: left;
}
.oneColumn > *.alignCenter, .twoColumn > *.alignCenter, .threeColumn > *.alignCenter, .fourColumn > *.alignCenter {
  text-align: center;
}
.oneColumn > *.alignRight, .twoColumn > *.alignRight, .threeColumn > *.alignRight, .fourColumn > *.alignRight {
  text-align: right;
}
@media only screen and (min-width: 800px) {
  .oneColumn > *.oneHalf, .twoColumn > *.oneHalf, .threeColumn > *.oneHalf, .fourColumn > *.oneHalf {
    width: 50%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .oneColumn > *.oneHalf, .twoColumn > *.oneHalf, .threeColumn > *.oneHalf, .fourColumn > *.oneHalf {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .oneColumn > *.oneHalf, .twoColumn > *.oneHalf, .threeColumn > *.oneHalf, .fourColumn > *.oneHalf {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .oneColumn > *.oneThird, .twoColumn > *.oneThird, .threeColumn > *.oneThird, .fourColumn > *.oneThird {
    width: 33.3333333333%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .oneColumn > *.oneThird, .twoColumn > *.oneThird, .threeColumn > *.oneThird, .fourColumn > *.oneThird {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .oneColumn > *.oneThird, .twoColumn > *.oneThird, .threeColumn > *.oneThird, .fourColumn > *.oneThird {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .oneColumn > *.twoThirds, .twoColumn > *.twoThirds, .threeColumn > *.twoThirds, .fourColumn > *.twoThirds {
    width: 66.6666666667%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .oneColumn > *.twoThirds, .twoColumn > *.twoThirds, .threeColumn > *.twoThirds, .fourColumn > *.twoThirds {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .oneColumn > *.twoThirds, .twoColumn > *.twoThirds, .threeColumn > *.twoThirds, .fourColumn > *.twoThirds {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .oneColumn > *.oneQuarter, .twoColumn > *.oneQuarter, .threeColumn > *.oneQuarter, .fourColumn > *.oneQuarter {
    width: 25%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .oneColumn > *.oneQuarter, .twoColumn > *.oneQuarter, .threeColumn > *.oneQuarter, .fourColumn > *.oneQuarter {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .oneColumn > *.oneQuarter, .twoColumn > *.oneQuarter, .threeColumn > *.oneQuarter, .fourColumn > *.oneQuarter {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .oneColumn > *.threeQuarters, .twoColumn > *.threeQuarters, .threeColumn > *.threeQuarters, .fourColumn > *.threeQuarters {
    width: 75%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .oneColumn > *.threeQuarters, .twoColumn > *.threeQuarters, .threeColumn > *.threeQuarters, .fourColumn > *.threeQuarters {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .oneColumn > *.threeQuarters, .twoColumn > *.threeQuarters, .threeColumn > *.threeQuarters, .fourColumn > *.threeQuarters {
    width: 100%;
  }
}

.oneColumn > * {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .twoColumn > * {
    width: 50%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .twoColumn > * {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .twoColumn > * {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .twoColumn > *:nth-child(2n+1) {
    padding-left: 0;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .twoColumn > *:nth-child(2n+1) {
    padding-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .twoColumn > *:nth-child(2n+1) {
    padding-left: 0;
  }
}
@media only screen and (min-width: 800px) {
  .twoColumn > *:nth-child(2n+1) {
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .twoColumn > *:nth-child(2n+1) {
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .twoColumn > *:nth-child(2n+1) {
    padding-right: 0;
  }
}
@media only screen and (min-width: 800px) {
  .twoColumn > *:nth-child(2n+2) {
    padding-left: 1rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .twoColumn > *:nth-child(2n+2) {
    padding-left: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .twoColumn > *:nth-child(2n+2) {
    padding-left: 0;
  }
}
@media only screen and (min-width: 800px) {
  .twoColumn > *:nth-child(2n+2) {
    padding-right: 0;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .twoColumn > *:nth-child(2n+2) {
    padding-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .twoColumn > *:nth-child(2n+2) {
    padding-right: 0;
  }
}
@media only screen and (min-width: 800px) {
  .twoColumn.ratio_1-2 > *:nth-child(2n+1) {
    width: 33.3333333333%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .twoColumn.ratio_1-2 > *:nth-child(2n+1) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .twoColumn.ratio_1-2 > *:nth-child(2n+1) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .twoColumn.ratio_1-2 > *:nth-child(2n+2) {
    width: 66.6666666667%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .twoColumn.ratio_1-2 > *:nth-child(2n+2) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .twoColumn.ratio_1-2 > *:nth-child(2n+2) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .twoColumn.ratio_2-1 > *:nth-child(2n+1) {
    width: 66.6666666667%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .twoColumn.ratio_2-1 > *:nth-child(2n+1) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .twoColumn.ratio_2-1 > *:nth-child(2n+1) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .twoColumn.ratio_2-1 > *:nth-child(2n+2) {
    width: 33.3333333333%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .twoColumn.ratio_2-1 > *:nth-child(2n+2) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .twoColumn.ratio_2-1 > *:nth-child(2n+2) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .twoColumn.ratio_1-3 > *:nth-child(2n+1) {
    width: 25%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .twoColumn.ratio_1-3 > *:nth-child(2n+1) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .twoColumn.ratio_1-3 > *:nth-child(2n+1) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .twoColumn.ratio_1-3 > *:nth-child(2n+2) {
    width: 75%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .twoColumn.ratio_1-3 > *:nth-child(2n+2) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .twoColumn.ratio_1-3 > *:nth-child(2n+2) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .twoColumn.ratio_3-1 > *:nth-child(2n+1) {
    width: 75%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .twoColumn.ratio_3-1 > *:nth-child(2n+1) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .twoColumn.ratio_3-1 > *:nth-child(2n+1) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .twoColumn.ratio_3-1 > *:nth-child(2n+2) {
    width: 25%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .twoColumn.ratio_3-1 > *:nth-child(2n+2) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .twoColumn.ratio_3-1 > *:nth-child(2n+2) {
    width: 100%;
  }
}

@media only screen and (min-width: 800px) {
  .threeColumn > * {
    width: 33.3333333333%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .threeColumn > * {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn > * {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn > *:nth-child(3n+1) {
    padding-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn > *:nth-child(3n+1) {
    padding-left: 0;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn > *:nth-child(3n+1) {
    padding-right: 1.3333333333rem;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn > *:nth-child(3n+1) {
    padding-right: 0;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn > *:nth-child(3n+2) {
    padding-left: 0.6666666667rem;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn > *:nth-child(3n+2) {
    padding-left: 0;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn > *:nth-child(3n+2) {
    padding-right: 0.6666666667rem;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn > *:nth-child(3n+2) {
    padding-right: 0;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn > *:nth-child(3n+3) {
    padding-left: 1.3333333333rem;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn > *:nth-child(3n+3) {
    padding-left: 0;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn > *:nth-child(3n+3) {
    padding-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn > *:nth-child(3n+3) {
    padding-right: 0;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .threeColumn > *:nth-child(2n+1) {
    padding-left: 0;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .threeColumn > *:nth-child(2n+1) {
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .threeColumn > *:nth-child(2n+2) {
    padding-left: 1rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .threeColumn > *:nth-child(2n+2) {
    padding-right: 0;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn.ratio_1-1-2 > *:nth-child(3n+1) {
    width: 25%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .threeColumn.ratio_1-1-2 > *:nth-child(3n+1) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn.ratio_1-1-2 > *:nth-child(3n+1) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn.ratio_1-1-2 > *:nth-child(3n+2) {
    width: 25%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .threeColumn.ratio_1-1-2 > *:nth-child(3n+2) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn.ratio_1-1-2 > *:nth-child(3n+2) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn.ratio_1-1-2 > *:nth-child(3n+3) {
    width: 50%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .threeColumn.ratio_1-1-2 > *:nth-child(3n+3) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn.ratio_1-1-2 > *:nth-child(3n+3) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn.ratio_1-2-1 > *:nth-child(3n+1) {
    width: 25%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .threeColumn.ratio_1-2-1 > *:nth-child(3n+1) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn.ratio_1-2-1 > *:nth-child(3n+1) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn.ratio_1-2-1 > *:nth-child(3n+2) {
    width: 50%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .threeColumn.ratio_1-2-1 > *:nth-child(3n+2) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn.ratio_1-2-1 > *:nth-child(3n+2) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn.ratio_1-2-1 > *:nth-child(3n+3) {
    width: 25%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .threeColumn.ratio_1-2-1 > *:nth-child(3n+3) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn.ratio_1-2-1 > *:nth-child(3n+3) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn.ratio_2-1-1 > *:nth-child(3n+1) {
    width: 50%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .threeColumn.ratio_2-1-1 > *:nth-child(3n+1) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn.ratio_2-1-1 > *:nth-child(3n+1) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn.ratio_2-1-1 > *:nth-child(3n+2) {
    width: 25%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .threeColumn.ratio_2-1-1 > *:nth-child(3n+2) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn.ratio_2-1-1 > *:nth-child(3n+2) {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .threeColumn.ratio_2-1-1 > *:nth-child(3n+3) {
    width: 25%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .threeColumn.ratio_2-1-1 > *:nth-child(3n+3) {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .threeColumn.ratio_2-1-1 > *:nth-child(3n+3) {
    width: 100%;
  }
}

@media only screen and (min-width: 800px) {
  .fourColumn > * {
    width: 25%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .fourColumn > * {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .fourColumn > * {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .fourColumn > *:nth-child(4n+1) {
    padding-left: 0;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .fourColumn > *:nth-child(4n+1) {
    padding-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .fourColumn > *:nth-child(4n+1) {
    padding-left: 0;
  }
}
@media only screen and (min-width: 800px) {
  .fourColumn > *:nth-child(4n+1) {
    padding-right: 1.5rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .fourColumn > *:nth-child(4n+1) {
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .fourColumn > *:nth-child(4n+1) {
    padding-right: 0;
  }
}
@media only screen and (min-width: 800px) {
  .fourColumn > *:nth-child(4n+2) {
    padding-left: 0.5rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .fourColumn > *:nth-child(4n+2) {
    padding-left: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .fourColumn > *:nth-child(4n+2) {
    padding-left: 0;
  }
}
@media only screen and (min-width: 800px) {
  .fourColumn > *:nth-child(4n+2) {
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .fourColumn > *:nth-child(4n+2) {
    padding-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .fourColumn > *:nth-child(4n+2) {
    padding-right: 0;
  }
}
@media only screen and (min-width: 800px) {
  .fourColumn > *:nth-child(4n+3) {
    padding-left: 1rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .fourColumn > *:nth-child(4n+3) {
    padding-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .fourColumn > *:nth-child(4n+3) {
    padding-left: 0;
  }
}
@media only screen and (min-width: 800px) {
  .fourColumn > *:nth-child(4n+3) {
    padding-right: 0.5rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .fourColumn > *:nth-child(4n+3) {
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .fourColumn > *:nth-child(4n+3) {
    padding-right: 0;
  }
}
@media only screen and (min-width: 800px) {
  .fourColumn > *:nth-child(4n+4) {
    padding-left: 1.5rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .fourColumn > *:nth-child(4n+4) {
    padding-left: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .fourColumn > *:nth-child(4n+4) {
    padding-left: 0;
  }
}
@media only screen and (min-width: 800px) {
  .fourColumn > *:nth-child(4n+4) {
    padding-right: 0;
  }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
  .fourColumn > *:nth-child(4n+4) {
    padding-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .fourColumn > *:nth-child(4n+4) {
    padding-right: 0;
  }
}

/*
 * Author:Joshua Balsillie
 * Date Created:2019-04-16
 * Description:define filter widget styles
 */
.filter > :first-child {
  background-color: #FFFFFF;
  padding: 1rem;
}

.filter > :first-child > * {
  background-color: #CCCCCC;
  padding: 0.5rem;
  margin: 0.2rem;
  display: inline-block;
}

/*
Author:Joshua Balsillie
Date Created:2016-09-07
Description:define media attributes
*/
.icons {
  display: inline-block;
}
.icons > a {
  display: inline-block;
}
.icons > a > img {
  border-radius: 50%;
  max-width: 1rem;
  border-width: 0;
  border-style: none;
}
.icons.left > * {
  margin-left: 0;
}
.icons.right > * {
  margin-right: 0;
}

/*
 * Author:Joshua Balsillie
 * Date Created:2016-09-07
 * Description:modal popup
 */
.modal {
  display: block;
  max-width: inherit;
}
.modal .show {
  cursor: pointer;
}
.modal * .hide:after {
  content: "×";
  color: #003e47;
  float: right;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2rem;
  border-radius: 1rem;
  padding: 0.2rem;
}
.modal * .hide:hover:after, .modal * .hide :focus:after, .modal * .hide :active:after {
  color: #00dcff;
  background-color: #003e47;
  text-decoration: none;
  cursor: pointer;
}
.modal > div {
  display: none;
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal > div > div {
  display: block;
  color: #323e42;
  background-color: white;
  border-color: #323e42;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-style: solid;
  border-width: 1.5rem;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*
Author: Joshua Balsillie
Date Created: 2016-05-24
Description: define scrollbar formatting
*/
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: red;
  border-color: transparent;
  border-radius: 0.4rem;
  border-width: 0.15rem;
  border-style: solid;
  background-clip: content-box;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
  border-width: 0.15rem;
  border-style: solid;
  background-clip: content-box;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-corner {
  display: none;
}

/*# sourceMappingURL=widgets.css.map */
