@charset "UTF-8";
/*
 * Author: Joshua Balsillie
 * Date Created: 2016-08-17
 * Description: Import widget styles
 * 
 * References
 * Define ID: #id {
 * Define class: .class {
 * Define all: * {
 * Define child: > {
 * Define import css: @import "folder/_file.scss";
 * Setup and use: http://sass-lang.com/guide
 *
 * Important
 * Order files for inheritance
 */
/* Functions and Mixins */
/*
 * Author: Joshua Balsillie
 * Date Created: 2016-08-18
 * Description: define mixins for sass/scss files
 */
/* Variables */
/* Styles */
/*
 * Author:Joshua Balsillie
 * Date Created:2019-04-16
 * Description:define filter widget styles
 */
.filter > .images {
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: relative;
}
.filter > .images > * {
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.filter > .images > div > img {
  /* Optional image styles */
  border-style: none;
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  cursor: pointer;
}
.filter > .items > * > div {
  background-color: #FFFFFF;
  border-radius: 1rem;
}
.filter > .items > * > div > img:first-child {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

/*
 * Author: Joshua Balsillie
 * Date Created: 2016-08-18
 * Description: define mixins for sass/scss files
 */
/*
 * Author:Joshua Balsillie
 * Date Created:2020-07-08
 * Description:define menu widget styles
 */
.menu {
  display: flex;
  align-items: center;
}
.menu > .showOrHide {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background-color: red;
  -webkit-mask-image: url(../../menu/svg/icon_rgb_menu-hamburger_bg-max_fg-opaque.svg);
  -moz-mask-image: url(../../menu/svg/icon_rgb_menu-hamburger_bg-max_fg-opaque.svg);
  -ms-mask-image: url(../../menu/svg/icon_rgb_menu-hamburger_bg-max_fg-opaque.svg);
  -o-mask-image: url(../../menu/svg/icon_rgb_menu-hamburger_bg-max_fg-opaque.svg);
  mask-image: url(../../menu/svg/icon_rgb_menu-hamburger_bg-max_fg-opaque.svg);
  -webkit-mask-repeat: no-repeat;
  -moz-mask-repeat: no-repeat;
  -ms-mask-repeat: no-repeat;
  -o-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -moz-mask-position: center;
  -ms-mask-position: center;
  -o-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  -moz-mask-size: contain;
  -ms-mask-size: contain;
  -o-mask-size: contain;
  mask-size: contain;
}
@media only screen and (min-width: 800px) {
  .menu > .showOrHide {
    display: none;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > .showOrHide {
    display: inline-block;
  }
}
@media only screen and (max-width: 480px) {
  .menu > .showOrHide {
    display: inline-block;
  }
}
.menu > div {
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 800px) {
  .menu > div {
    display: block;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div {
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  .menu > div {
    position: static;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div {
    position: fixed;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div {
    position: fixed;
  }
}
@media only screen and (min-width: 800px) {
  .menu > div {
    z-index: auto;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div {
    z-index: 997;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div {
    z-index: 997;
  }
}
@media only screen and (min-width: 800px) {
  .menu > div {
    width: auto;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .menu > div {
    height: auto;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div {
    height: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div {
    height: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .menu > div {
    background-color: transparent;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (max-width: 480px) {
  .menu > div {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.menu > div > div {
  z-index: calc( $menu_backgroundIndex + 1 );
  color: #323e42;
  border-style: solid;
  border-width: 0;
  min-width: 25%;
  overflow-x: hidden;
}
@media only screen and (min-width: 800px) {
  .menu > div > div {
    max-width: auto;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div {
    max-width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div {
    max-width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .menu > div > div {
    overflow-y: hidden;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div {
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div {
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 800px) {
  .menu > div > div {
    display: inline-block;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div {
    display: inline-block;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div {
    display: inline-block;
  }
}
@media only screen and (min-width: 800px) {
  .menu > div > div {
    height: auto;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div {
    height: calc( 100% - 2rem );
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div {
    height: calc( 100% - 2rem );
  }
}
@media only screen and (min-width: 800px) {
  .menu > div > div {
    right: 10;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div {
    right: 0;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div {
    right: 0;
  }
}
@media only screen and (min-width: 800px) {
  .menu > div > div {
    position: static;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div {
    position: absolute;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div {
    position: absolute;
  }
}
@media only screen and (min-width: 800px) {
  .menu > div > div {
    background-color: transparent;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div {
    background-color: white;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div {
    background-color: white;
  }
}
@media only screen and (min-width: 800px) {
  .menu > div > div {
    border-color: transparent;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div {
    border-color: #323e42;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div {
    border-color: #323e42;
  }
}
@media only screen and (min-width: 800px) {
  .menu > div > div {
    box-shadow: 0;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (min-width: 800px) {
  .menu > div > div {
    padding: 0;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div {
    padding: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div {
    padding: 1rem;
  }
}
.menu > div > div > * {
  padding: 0.5rem;
  margin: 2px;
  text-transform: none;
}
@media only screen and (min-width: 800px) {
  .menu > div > div > * {
    display: none;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div > * {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div > * {
    display: block;
  }
}
.menu > div > div > a {
  text-decoration: none;
  text-transform: capitalize;
  background-color: transparent;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
@media only screen and (min-width: 800px) {
  .menu > div > div > a {
    color: #323e42;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div > a {
    color: #323e42;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div > a {
    color: #323e42;
  }
}
@media only screen and (min-width: 800px) {
  .menu > div > div > a {
    display: inline-block;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div > a {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div > a {
    display: block;
  }
}
.menu > div > div > a:hover, .menu > div > div > a :focus, .menu > div > div > a :active {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
@media only screen and (min-width: 800px) {
  .menu > div > div > a:hover, .menu > div > div > a :focus, .menu > div > div > a :active {
    color: white;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div > a:hover, .menu > div > div > a :focus, .menu > div > div > a :active {
    color: white;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div > a:hover, .menu > div > div > a :focus, .menu > div > div > a :active {
    color: white;
  }
}
@media only screen and (min-width: 800px) {
  .menu > div > div > a:hover, .menu > div > div > a :focus, .menu > div > div > a :active {
    background-color: #323e42;
  }
}
@media only screen and (max-width: 800px) and (min-width: 480px) {
  .menu > div > div > a:hover, .menu > div > div > a :focus, .menu > div > div > a :active {
    background-color: #323e42;
  }
}
@media only screen and (max-width: 480px) {
  .menu > div > div > a:hover, .menu > div > div > a :focus, .menu > div > div > a :active {
    background-color: #323e42;
  }
}

/*
 * Author:Joshua Balsillie
 * Date Created:2016-09-07
 * Description:modal popup
 */
.modal {
  display: block;
  max-width: inherit;
}
.modal .show {
  cursor: pointer;
}
.modal * .hide:after {
  content: "×";
  color: #003e47;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2rem;
  border-radius: 1rem;
  padding: 0.2rem;
}
.modal * .hide:hover:after, .modal * .hide :focus:after, .modal * .hide :active:after {
  color: #00dcff;
  background-color: #003e47;
  text-decoration: none;
  cursor: pointer;
}
.modal > div {
  display: none;
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal > div > div {
  display: block;
  color: #323e42;
  background-color: white;
  border-color: #323e42;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-style: solid;
  border-width: 0.15rem;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal2 {
  display: block;
  max-width: inherit;
}
.modal2 .show {
  cursor: pointer;
}
.modal2 * .hide:after {
  content: "×";
  color: #003e47;
  float: right;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2rem;
  border-radius: 1rem;
  padding: 0.2rem;
}
.modal2 * .hide:hover:after, .modal2 * .hide :focus:after, .modal2 * .hide :active:after {
  color: #00dcff;
  background-color: #003e47;
  text-decoration: none;
  cursor: pointer;
}
.modal2:nth-child(2) {
  display: block;
  color: #323e42;
  background-color: white;
  border-color: #323e42;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-style: solid;
  border-width: 0.15rem;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal2:nth-child(2):after {
  content: "";
  display: none;
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=widgets.css.map */
